---
import { getCollection } from "astro:content";
import BlogCardList from "../../components/BlogCardList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import BlogCard from "../../components/BlogCard.astro";
import Tags from "../../components/Tags.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <section>
      <BlogCardList>
        {
          posts
            .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
            .map((post, index) => (
              <BlogCard
                slug={post.slug}
                title={post.data.title}
                pubDate={post.data.pubDate}
                cover={post.data.cover}
                coverAlt={post.data.coverAlt}
                loading={index <= 2 ? "eager" : "lazy"}
              />
            ))
        }
      </BlogCardList>
    </section>
    <section>
      <Tags />
    </section>
  </main>
</BaseLayout>

<style>
  main {
    width: 960px;
  }
</style>
