---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import BlogCard from "../components/BlogCard.astro";
import BlogCardList from "../components/BlogCardList.astro";
import Tags from "../components/Tags.astro";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allBlogPosts = await getCollection("blog");

const posts = allBlogPosts.filter((blog) =>
  blog.data.tags?.includes("Featured")
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <section>
      <h2>Featured</h2>
      <BlogCardList>
        {
          posts
            .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
            .map((post, index) => (
              <BlogCard
                slug={post.slug}
                title={post.data.title}
                pubDate={post.data.pubDate}
                cover={post.data.cover}
                coverAlt={post.data.coverAlt}
                loading={index <= 2 ? "eager" : "lazy"}
              />
            ))
        }
      </BlogCardList>
    </section>
    <section>
      <Tags />
    </section>
  </main>
</BaseLayout>

<style>
  main {
    display: grid;
    gap: 2rem;
    margin: 0 auto;
    max-width: 960px;
  }

  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
</style>
