---
import FormattedDate from "./FormattedDate.astro";
import { Image } from "astro:assets";

interface Props {
  slug: string;
  title: string;
  pubDate: Date;
  cover: {
    height: number;
    src: string;
    width: number;
    format: "avif" | "png" | "webp" | "jpeg" | "jpg" | "svg" | "tiff" | "gif";
  };
  coverAlt: string;
  loading: "eager" | "lazy";
}

const { slug, title, pubDate, cover, coverAlt, loading } = Astro.props;
---

<li>
  <a href={`/blog/${slug}/`}>
    <Image
      loading={loading}
      aria-hidden="true"
      width={1280}
      height={720}
      src={cover}
      alt={`${coverAlt}`}
      transition:name={`cover-image-${title}`}
      quality="high"
    />
    <h4 class="title" transition:name={`blog-title-${title}`}>
      {title}
    </h4>
    <p class="date">
      <FormattedDate date={pubDate} />
    </p>
  </a>
</li>

<style>
  li {
    width: calc(50% - 1rem);
  }
  li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  li:first-child {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }
  li:first-child img {
    width: 100%;
  }
  li:first-child .title {
    font-size: 2.369rem;
  }
  li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
  }
  li a {
    display: block;
  }
  .title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
  }
  .date {
    margin: 0;
    color: rgb(var(--gray));
  }
  li a:hover h4,
  li a:hover .date {
    color: rgb(var(--accent));
  }
  a:hover img {
    box-shadow: var(--box-shadow);
  }

  @media (width < 720px) {
    li {
      width: 100%;
      text-align: center;
    }
    li:first-child {
      margin-bottom: 0;
    }
    li:first-child .title {
      font-size: var(--step-1);
    }
  }
</style>
