---
import BaseLayout from "./BaseLayout.astro";
import AboutHead from "../components/AboutHead.astro";

import { Image } from "astro:assets";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <AboutHead
    title={frontmatter.title}
    description={frontmatter.description}
    slot="head"
  />
  <main class="about">
    <section class="profile">
      <div class="profile-frame">
        <Image
          src="/images/brianhan-new.jpg"
          alt="Profile picture of Brian Han"
          width={800}
          height={800}
          class="profile-image"
        />
      </div>
    </section>
    <h2 class="title">{frontmatter.title}</h2>
    <slot />
  </main>
</BaseLayout>

<style>
  main.about {
    max-width: 720px;
  }

  .profile {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .profile-frame {
    height: 200px;
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--box-shadow);
  }

  .profile-image {
    object-fit: cover;
    scale: 1.2;
    object-position: 8px 9px;
    aspect-ratio: 1 / 1;
  }

  @media screen and (max-width: 320px) {
    .profile-frame {
      height: 80%;
      width: 80%;
    }

    .profile-image {
      scale: 1.1;
      object-position: 0px 0px;
    }
  }
</style>
