---
import BaseLayout from "./BaseLayout.astro";
import AboutHead from "../components/AboutHead.astro";

import { Image } from "astro:assets";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <AboutHead
    title={frontmatter.title}
    description={frontmatter.description}
    slot="head"
  />
  <main class="about">
    <section class="profile">
      <div class="profile-frame">
        <Image
          src="/images/brianhan2025.jpg"
          alt="Profile picture of Brian Han"
          width={800}
          height={800}
          class="profile-image"
        />
      </div>
    </section>
    <h2 class="title">{frontmatter.title}</h2>
    <slot />
  </main>
</BaseLayout>

<style>
  main.about {
    max-width: 720px;
  }

  .profile {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .profile-frame {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--box-shadow);
  }

  .profile-image {
    object-fit: cover;
    object-position: 30px 35px;
    scale: 1.44;
  }
</style>
