---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
type Props = CollectionEntry<"blog">["data"];
import BaseLayout from "./BaseLayout.astro";
import Tags from "../components/Tags.astro";

const { title, description, pubDate, updatedDate, cover, coverAlt, tags } =
  Astro.props;
---

<BaseLayout title={title} description={description}>
  <main>
    <article>
      <div class="hero-image">
        {
          cover && (
            <Image
              width={1920}
              height={1080}
              src={cover}
              alt={`${coverAlt}`}
              transition:name={`cover-image-${title}`}
              quality={"max"}
            />
          )
        }
      </div>
      <div class="prose">
        <div class="title">
          <div class="date">
            <FormattedDate
              date={pubDate}
              transition:name={`blog-pub-date-${pubDate}`}
            />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1 transition:name={`blog-title-${title}`}>
            {title}
          </h1>
        </div>
        <hr />
        <slot />
        <Tags tags={tags} />
      </div>
    </article>
  </main>
</BaseLayout>
<style>
  .hero-image {
    display: flex;
    justify-content: center;
  }
  .title {
    text-align: center;
  }
</style>
